#popup-button{
  text-align:left;
}
#index-body {
	margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
	color: black;
  text-align:center;
	font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
body {
	margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
	color: black;
	font-family:'Belleza','Times New Roman', Arial, sans-serif;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}
.form-box{
  max-width:300px;
  text-align:left;
}
.container{
  display:grid;
  grid-gap:0px;
}
#enter-close-button{
  padding: 0px 0px 0px 0%;
}
#chatFooter{
  font-size:12px;
}
#footer{
  font-size:12px;
  font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
#chat{
  font-size:15px;
  font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
/*
#index-html {
  background: url("../images/image1.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
#main-heading {
	text-align: left;
	padding: 0px 0px 0px 8%;
  font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
#converter-main-heading{
  text-align: left;
  padding: 0px 0px 0px 0px;
  font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
#prePlatform-main-heading{
  text-align: left;
  padding: 0px 0px 0px 2%;
  font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
#text-boxes {
  text-align: left;
}
#center-elements {
  text-align: left;
}
#container {
  text-align: center;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#about-converter-text{
  text-align:left;
  font-family:'Belleza','Times New Roman', Arial, sans-serif;
}
