#popup-button{
  text-align:left;
}
body {
	margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
	color: black;
	font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
#index-body{
  text-align:center;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}
.form-box{
  max-width:300px;
  text-align:left;
}
.container{
  display:grid;
  grid-gap:0px;
}
#enter-close-button{
  padding: 0px 0px 0px 0%;
}
#chatFooter{
  font-size:12px;
}
#footer{
  font-size:12px;
}
#chat{
  font-size:15px;
  font-family:'Inknut Antiqua','Belleza','Times New Roman', Arial, sans-serif;
}
/*
#index-html {
  background: url("../images/image1.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
